@model MovieList.Models.Maintenance.MaintenanceViewModel
@{
    ViewBag.Title = "Index";
}

<h2>Maintenance</h2>

<div class="form-horizontal">
    <div class="col-xs-12">
        <div class="input-group">
            <input type="text" class="form-control" placeholder="Search Imdb Id or Movie Title">
            <div class="input-group-btn">
                <input type="button" class="btn btn-primary" value="Search" />
            </div>
        </div>
    </div>
</div>



@Html.Partial("_MaintenanceForm", Model)
