MovieList/MovieList.Architecture/bin/
MovieList/MovieList.Architecture/obj/
MovieList/MovieList.Entities/bin/
MovieList/MovieList.Entities/obj/
MovieList/MovieList.Repository/bin/
MovieList/MovieList.Repository/obj/
MovieList/MovieList/bin/
MovieList/MovieList/obj/
MovieList/packages/
